# vagrant-dev root .bashrc

# source .bashrc_personal
if [ -f ~/.bashrc_personal ] ; then
    . ~/.bashrc_personal
fi

# Get the git-completion
if [ -f ~/.git-completion.bash ]; then
    . ~/.git-completion.bash
fi
